<div id="<%= dom_id inventory %>">
  <p>
    <%= link_to inventory.name, inventory_path(inventory) %>
    <% if current_user %>
  <%= button_to "Remove", @inventory, method: :delete, class: "btn btn-danger mt-3", data: { confirm: "Are you sure?" } %>
<% end %>

  </p>
</div>
