<div id="<%= dom_id inventory %>">
  <p>
    <%= link_to inventory.name, inventory_path(inventory) %>
    <%= button_to "Remove", @inventory, method: :delete, class: "btn btn-primary mt-3" %>
  </p>
</div>
