<div class="container mt-3">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4 text-center">Inventories</h1>

  <div class="border m-3 p-3 d-block" id="inventories">
    <% @inventories.each do |inventory| %>
      <%= render inventory %>
    <% end %>
  </div>

  <%= link_to "New Inventory", new_inventory_path, class: "btn btn-danger mt-3 d-block mx-auto" %>
</div>
