<div class="public_recipes_container">
  <h1>Public Recipes</h1>
  <% @public_recipes.each do |recipe| %>
    <div class="public_recipe_list">
      <div>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <p>By: <%= recipe.user.name %></p>
      </div>
      <div>
        <p>Total Food Items: <%= recipe.recipe_foods.count %></p>
        <p>Total Amount: $<%= recipe.calculate_total_amount %></p>
      </div>
    </div>
  <% end %>
</div>